<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <div>
    <p>👋 Hey {{.Name}},</p>
    <p>We noticed a login to your account</p>
    <p><b>Location*:</b> {{.Location}}</p>
    <p><b>Device:</b> {{.Device}}</p>
    <sub>*Location is approximate based on the login IP address</sub>
    <p>If this was you, then you can ignore this message</p>
    <p>If it wasn't you, that means someone has access to your email</p>
  </div>
</html>
